@import 'partials/reset';
@import 'partials/clearfix';

/// VARIABLES ///
$light-grey: #CCCCCC;
$grey: #BFBFBF;
$dark-grey: #858585;
$white: #FFFFFF;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// div{border:1px dotted red}

body{
  font-family: Arial, Verdana, sans-serif;
  color: $dark-grey;
}

h1{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 10px 0;
}

p {
  margin-top: 10px;
}

///// Container for all HTML Elements //////
.container{
  width: 325px;
  margin: 0 auto;
  padding-top:50px;
  @media screen and (min-width: 800px) {
    width: 800px;
    margin: 0 auto;
  }
}

.header{
  @media screen and (min-width: 800px) {
    padding-top: 10px;
    border-top: dotted 1px $light-grey;
  }
}

.logo img {
  width: 300px;
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 800px) {
    float: left;
    width: 400px;
  }
}

.summary{
  display: none;
  @media screen and (min-width: 800px) {
    display: block;
    float: right;
    width: 330px;
    font-size: 0.75em;
    padding-left: 10px;
    color: $grey;
    border-left: solid 1px $light-grey;
  }
}

.cover-photo {
  margin-top: 40px;
  @media screen and (min-width: 800px) {
    margin-top: 50px;
  }
}

.cover-photo img{
  width: 325px;
  height: 200px;
  object-fit: cover;
  object-position: 17% 0;
  @media screen and (min-width: 800px) {
    width: 800px;
    height: 300px;
  }
}

hr{
  border-top: solid 1px $light-grey;
  margin: 10px 0;
}

////////////////////////////////
///// Gallery on Home Page /////
////////////////////////////////
.gallery{
  display: flex;
  flex-flow: row wrap;
}

.gallery-post{
  flex: 0 0 100%;
  margin: 0 0 10px 0;
  @media screen and (min-width: 800px) {
    flex: 0 0 260px;
    margin: 0 10px 10px 0;
  }
  &:nth-child(3n){
    @media screen and (min-width: 800px) {
      flex: 0 0 260px;
      margin: 0 0 10px 0;
    }
  }
}

.gallery-post img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  object-fit: cover;
  @media screen and (min-width: 800px) {
    width: 260px;
  }
}

.add-photo{

}

.add-photo p a {
  margin-bottom: 50px;
}

////////////////////////////
///// For Main Content /////
////////////////////////////
.main-content{
  margin-top: 40px;
  @media screen and (min-width: 800px) {
    margin-top: 50px;
  }
}

///////////////////////////////
//// Single Gallery Photo /////
///////////////////////////////
.left-main-photo {
  width: 325px;
  float: left;
  font-size: 0.9em;
  @media screen and (min-width: 800px) {
    width: 510px;
  }
}

.left-main-photo img {
  width: 100%;
}

.left-main-photo p a, .left-main-photo input, .add-photo p a{
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  border: 1px $light-grey solid;
  color: $dark-grey;
  padding: 8px;
  margin-top: 10px;
}

.left-main-photo p a:hover, .left-main-photo input:hover, .add-photo p a:hover{
  color: $white;
  background-color: $dark-grey;
  border: 1px $dark-grey solid;
}

.right-small-photos {
  display: none;
  font-size: 0.9em;
  @media screen and (min-width: 800px) {
    display: block;
    float: right;
    width: 260px;
    height: 200px;
  }
}

.right-small-photos img {
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: 800px) {
    width: 260px;
    height: 200px;
    object-fit: cover;
  }
}

//////////////////////////
///// Add Photo Form /////
//////////////////////////
.form-container {
  width: 325px;
  float: left;
  @media screen and (min-width: 800px) {
    width: 510px;
  }
}

form p {
  font-size: 0.9em;
}

input, textarea {
  padding: 5px;
  border: solid 1px $light-grey;
  outline: 0;
  width: 325px;
  background: $white;
  }

textarea {
  width: 325px;
  max-width: 325px;
  height: 150px;
  line-height: 150%;
  @media screen and (min-width: 800px) {
    width: 510px;
    max-width: 510px;
  }
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: $dark-grey;
}

input[type=submit]{
  text-transform: uppercase;
}