doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery || Home Page
    link(href='/css/styles.css', rel='stylesheet')
  body
    div.container
      div(class=['header', 'clearfix'])
        div.logo
          a(href='/')
            img(src='/images/logo.jpg')
        div.summary
          p Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
      div.cover-photo
        img(src='http://www.dessign.net/architekttheme/wp-content/uploads/architekt21-959x349.jpg')
      hr
      div.gallery
        div.gallery-post
          a(href='#')
            img(src='http://67.media.tumblr.com/30b1b0d0a42bca3759610242a1ff0348/tumblr_nnjxy1GQAA1tpo3v2o1_540.jpg')
        div.gallery-post
          a(href='#')
            img(src='http://www.dessign.net/architekttheme/wp-content/uploads/Mountain_Cabin-blog1-306x215.jpg')
        div.gallery-post
          a(href='#')
            img(src='http://www.dessign.net/architekttheme/wp-content/uploads/Mountain_Cabin-blog1-306x215.jpg')
        div.gallery-post
          a(href='#')
            img(src='http://www.dessign.net/architekttheme/wp-content/uploads/Mountain_Cabin-blog1-306x215.jpg')
        div.gallery-post
          a(href='#')
            img(src='http://www.dessign.net/architekttheme/wp-content/uploads/Mountain_Cabin-blog1-306x215.jpg')
        div.gallery-post
          a(href='#')
            img(src='http://www.dessign.net/architekttheme/wp-content/uploads/Mountain_Cabin-blog1-306x215.jpg')