doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
  body
    div.container
      header
        h1 _ARCHITEKT
        img(src='http://www.dessign.net/architekttheme/wp-content/uploads/architekt21-959x349.jpg', width='50%')
      hr
      section
        a(href="#")
          img(src='http://placehold.it/350x150')
        p Author
        p This is a description of the image.
      section
        img(src='http://placehold.it/350x150')
        p Author
        p This is a description of the image.