<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery || #{id}
    link(href='/css/styles.css', rel='stylesheet')
  body
    div.container
      div(class=['header', 'clearfix'])
        div.logo
          a(href='/')
            img(src='/images/logo.jpg')
        div.summary
          p Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
      div(class=['main-content', 'clearfix'])
        div.left-main-photo
          img(src= mainPhoto.link)
          p Uploaded by #{mainPhoto.author}
          p= description
          p
            a(href= "/gallery/" + mainPhoto.id + "/edit") Edit This Photo
          form(action="/gallery/" + mainPhoto.id, method="post", enctype="application/x-www-form-urlencoded")
            input(type="hidden", name="_method", value="DELETE")
            input(type="submit", value="Delete This Photo")
        div.right-small-photos
          - var galleryLength = 3;
          - for (var i = 0; i < galleryLength; i++) {
            if i + 1 === mainPhoto.id
              - galleryLength = galleryLength + 1;
            else
              a(href='/gallery/' + gallery[i].id)
                img(src= gallery[i].link)
          - }